<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout
                    pattern="%cyan{%d{HH:mm:ss}} [%yellow{%t}] [%style{%highlight{%level}{STYLE=Logback}}] %minecraftFormatting{%msg}%n"/>
            <Filters>
                <RegexFilter regex=".*Reading file /sys/class/net/.*" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/server.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss} [%t] %level - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
            <Filters>
                <RegexFilter regex=".*Reading file /sys/class/net/.*" onMatch="DENY" onMismatch="ACCEPT"/>
            </Filters>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </AsyncRoot>
        <!--    disable useless debug log foreign library    -->
        <Logger name="oshi.hardware" level="info"/>
        <Logger name="oshi" level="info"/>
        <Logger name="org.jose4j" level="info"/>
        <Logger name="io.netty.channel.nio" level="info"/>
        <!-- Filter out "Reading file" messages specifically -->
        <Logger name="oshi.software.os.linux" level="info"/>
        <Logger name="oshi.hardware.platform.linux" level="info"/>
    </Loggers>
</Configuration>